In [1]:
import pandas as pd
nlst = pd.read_csv('../../processed_data/nlst2.csv')
nlst

,PID,images,cvd,cancer,age,gender,race,cigsmok,sct_ab_attn,sct_ab_gwth,sct_ab_invg,sct_ab_preexist,visible_days
0,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
1,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
2,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
3,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
4,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59605,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59606,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59607,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59608,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59609,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0

In [2]:
gender_map = {1: "Male", 2: "Female"}
race_map = {
    1: "White", 2: "Black or African-American", 3: "Asian",
    4: "American Indian or Alaskan Native", 5: "Native Hawaiian or Other Pacific Islander",
    6: "More than one race"
}
cigsmok_map = {0: "Former smoker", 1: "Current smoker"}
sct_ab_map = {1: "No", 2: "Yes"}

In [3]:
def combine_sentence(row):
    parts = []
    
    if not pd.isna(row['age']):
        parts.append(f"Age: {int(row['age'])}")
    if row['gender'] in gender_map:
        parts.append(f"Gender: {gender_map[row['gender']]}")
    if row['race'] in race_map:
        parts.append(f"Race: {race_map[row['race']]}")
    if row['cigsmok'] in cigsmok_map:
        parts.append(f"Smoking status: {cigsmok_map[row['cigsmok']]}")
    if row['sct_ab_attn'] in sct_ab_map:
        parts.append(f"Interval suspicious change in attenuation: {sct_ab_map[row['sct_ab_attn']]}")
    if row['sct_ab_gwth'] in sct_ab_map:
        parts.append(f"Interval growth: {sct_ab_map[row['sct_ab_gwth']]}")
    if row['sct_ab_invg'] in sct_ab_map:
        parts.append(f"Further investigation warranted: {sct_ab_map[row['sct_ab_invg']]}")
    if row['sct_ab_preexist'] in sct_ab_map:
        parts.append(f"Pre-existing abnormality: {sct_ab_map[row['sct_ab_preexist']]}")
    if not pd.isna(row['visible_days']):
        parts.append(f"Days visible: {int(row['visible_days'])}")
    
    return ", ".join(parts)

In [4]:
nlst['text'] = nlst.apply(combine_sentence, axis=1)

nlst.head()

,PID,images,cvd,cancer,age,gender,race,cigsmok,sct_ab_attn,sct_ab_gwth,sct_ab_invg,sct_ab_preexist,visible_days,text
0,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0,"Age: 66, Gender: Male, Race: White, Smoking st..."
1,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0,"Age: 66, Gender: Male, Race: White, Smoking st..."
2,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0,"Age: 66, Gender: Male, Race: White, Smoking st..."
3,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0,"Age: 66, Gender: Male, Race: White, Smoking st..."
4,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0,"Age: 66, Gender: Male, Race: White, Smoking st..."

In [5]:
columns_to_drop = [
    'age', 'gender', 'race', 'cigsmok', 
    'sct_ab_attn', 'sct_ab_gwth', 'sct_ab_invg', 
    'sct_ab_preexist', 'visible_days'
]
nlst = nlst.drop(columns=columns_to_drop)
nlst.head()

,PID,images,cvd,cancer,text
0,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,"Age: 66, Gender: Male, Race: White, Smoking st..."
1,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,"Age: 66, Gender: Male, Race: White, Smoking st..."
2,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,"Age: 66, Gender: Male, Race: White, Smoking st..."
3,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,"Age: 66, Gender: Male, Race: White, Smoking st..."
4,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,"Age: 66, Gender: Male, Race: White, Smoking st..."

In [6]:
nlst.to_csv('../../processed_data/NLST.csv', index=False, encoding='utf-8')