In [1]:
import pandas as pd

nlst = pd.read_csv('../../processed_data/nlst.csv')
data1 = pd.read_csv('../../processed_data/nlst_text/nlst_780_prsn_idc_20210527.csv')

nlst['PID'] = nlst['PID'].astype(str)
data1['pid'] = data1['pid'].astype(str)

data1_columns = ['pid', 'age', 'gender', 'race', 'cigsmok']
data1 = data1[data1_columns]
data1 = data1.rename(columns={'pid': 'PID'})

nlst = nlst.merge(data1, on='PID', how='left')
nlst.head()

,PID,images,cvd,cancer,age,gender,race,cigsmok
0,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1
1,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1
2,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1
3,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1
4,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1

In [2]:
nlst.to_csv('../../processed_data/nlst1.csv', index=False, encoding='utf-8')
print("Columns from data1 have been added to nlst.csv successfully.")

Columns from data1 have been added to nlst.csv successfully.

In [3]:
# data2 = pd.read_csv('../../processed_data/nlst_text/nlst_780_ctabc_idc_20210527.csv')

# nlst['PID'] = nlst['PID'].astype(str)
# data2['pid'] = data2['pid'].astype(str)

# filtered_data2 = data2[data2['pid'].isin(nlst['PID'])]

# data2_pid_counts = filtered_data2['pid'].value_counts()

# nlst_pid_counts = nlst['PID'].value_counts()

# comparison_df = pd.DataFrame({
#     'PID': nlst_pid_counts.index,
#     'nlst_count': nlst_pid_counts.values,
#     'data2_count': nlst_pid_counts.index.map(data2_pid_counts).fillna(0).astype(int)
# })
# comparison_df

In [4]:
nlst = pd.read_csv('../../processed_data/nlst1.csv')
data2 = pd.read_csv('../../processed_data/nlst_text/nlst_780_ctabc_idc_20210527.csv')

nlst['PID'] = nlst['PID'].astype(str)
data2['pid'] = data2['pid'].astype(str)

data2_columns = ['pid', 'sct_ab_attn', 'sct_ab_gwth', 'sct_ab_invg', 'sct_ab_preexist', 'visible_days']
data2 = data2[data2_columns]

data2 = data2.rename(columns={'pid': 'PID'})

nlst = nlst.merge(data2, on='PID', how='left')
nlst

,PID,images,cvd,cancer,age,gender,race,cigsmok,sct_ab_attn,sct_ab_gwth,sct_ab_invg,sct_ab_preexist,visible_days
0,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
1,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
2,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
3,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
4,100002,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",0,0,66,1,1,1,NaN,NaN,1.0,2.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59605,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59606,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59607,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59608,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0
59609,218892,"b'\x93NUMPY\x01\x00v\x00{\'descr\': \'|u1\', \...",1,1,56,1,1,0,1.0,1.0,NaN,2.0,0.0

In [5]:
nlst.to_csv('../../processed_data/nlst2.csv', index=False, encoding='utf-8')
print("Columns from data2 have been successfully added to nlst2.csv.")

Columns from data2 have been successfully added to nlst2.csv.